.App {
	width: 100vw;
	height: 100vh;
	padding: 0;
	display: grid;
	grid-template-columns: 10fr 70fr;
	grid-template-areas: "searchForm places"
						 "searchForm places";
	justify-content: center;
	/* align-items: center; */
	background-color: #3E6680;
}

.icon {
	width: 50%;
	margin-bottom: 10%;
}

.searchForm {
	background-color: #00487C;
	color: #fff;
	width: 25vh;
	height: 97vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	padding: 2%;
	padding-top: 10%;
	padding-left: 10%;
	padding-right: 10%;
	transition: all ease 0.3s;
	
}

.cityInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cityName {
	font-size: 1.6em;
	margin-bottom: -4%;
}

.cityDetails {
	font-weight: lighter;
	margin-bottom: 30%;
}

.cityCoords {
	font-weight: lighter;
	margin-top: 50vh;
}

.change-button {
	width: 100%;
	height: 4vh;
	border: 1px solid transparent;
	border-radius: 5px;
	background-color: #00345A;
	color: #fff;
	font-weight: bold;
	transition: all ease 0.3s;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.change-button:hover {
	background-color: #0496FF;
}

.placesDiv, .searchDiv {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
}

.searchDiv {
	margin-bottom: 7%;
}

.input-text {
	height: 4vh;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 5px;
	margin-bottom: 4%;
}

.input-button {
	height: 4vh;
	border: 1px solid transparent;
	border-radius: 5px;
	background-color: #0496FF;
	color: #fff;
	font-weight: bold;
	transition: all ease 0.3s;
	cursor: pointer;
}

.input-button:hover {
	background-color: #fff;
	color: #000;
}

.placesDiv {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

.placeRow {
	text-align: center;
	background-color: #1e323f;
	margin-bottom: 3%;
	border-radius: 5px;
	cursor: pointer;
	transition: all ease 0.3s;
}

.placeRow:hover {
	background-color: #2f4d61;
}

.forecast {
	grid-area: places;	
	display: grid;
	grid-template-areas: "clima dias"
						 "clima dias";
	width: 70vw;
	height: 70vh;
	/* background-position: center; */
	/* background-size: cover; */
	/* backdrop-filter: blur(10px); */
	align-self: center;
	margin-left: 10%;
	background-color: #00487C;
	border-radius: 10px;
}

.backgroundImg {
	width: 100%;
	height: 70vh;
	background-position: center;
	background-size: cover;
	/* backdrop-filter: blur(10px); */
	position: absolute;
	z-index: -10;
	filter: blur(3px);
	border-radius: 5px;
}

.clima {
	grid-area: clima;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.dias {
	grid-area: dias;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.currentTemp {
	grid-area: clima;
	display: flex;
	flex-direction: column;
	padding-left: 5%;
	padding-top: 2%;
}

.currentTempHeader {
	display: flex;
	align-items: center;
}

.tempt-icon {
	width: 10%;
	height: 70%;
}

.tempt-title {
	color: #fff;
	font-weight: bold;
	font-size: 1.3em;
}

.currentTemperature {
	display: flex;
	height: 60%;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: -10%;
}

.temperDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: -10%;
}

.temperature {
	font-weight: bold;
}

.temperatureMain {
	font-size: 6em;
}

.temperMinMax {
	margin-left: 10%;
}

.currentWeather {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wheatherIcon {
	width: 30%;
}

.currentWeather {
	color: #ffff;
	font-size: 1.2em;
}

.nextTemp {
	grid-area: dias;
	display: flex;
	flex-direction: column;
	padding-right: 3%;
	padding-top: 2%;
}

.nextTemperature {
	display: flex;
	height: 60%;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.daysDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.dayCard {
	display: flex;
	flex-direction: column;
	background-color: #01416e;
	width: 20%;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	padding-left: 3%;
	padding-right: 3%;
}

.dayCardDate {
	font-weight: bold;
	color: #fff;
}

.dayCardIcon {
	width: 70%;
}

.dayCardTemp {
	font-size: 0.9em;
	text-align: center;
	font-weight: bold;
	color: #0496FF;
	margin-bottom: -2%;
}

.dayCardDescrpt {
	font-size: 0.9em;
	text-align: center;
	font-weight: bold;
	color: #fff;
}

.details-icon {
	width: 10%;
}

.currentWeatherDetails {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
	background-color: #01416e;
	width: 90%;
	border-radius: 5px;
}

.currentWeatherDetails ul {
	justify-self: flex-start;
}