.searchForm {
	grid-area: searchForm;
    display: flex;
	width: 280px;
	height: 100%;
    background-color: #00487C;
    color: #fff;
    flex-direction: column;
    align-items: center;
    transition: all ease 0.3s;
	/* padding-left: 5%; */
	/* padding-right: 5%; */
}

.icon {
    width: 40%;
    margin-top: 40%;
    margin-bottom: 10%;
}

.cityInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cityName {
    font-size: 1.6em;
    margin-bottom: -4%;
}

.cityDetails {
    font-weight: lighter;
    margin-bottom: 30%;
}

.cityCoords {
    font-weight: lighter;
    margin-top: 50vh;
}

.change-button {
    width: 100%;
    height: 4vh;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #00345A;
    color: #fff;
    font-weight: bold;
    transition: all ease 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.change-button:hover {
    background-color: #0496FF;
}

.placesDiv,
.searchDiv {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;	
}

.searchDiv h2 {
	font-size: 1.2em;
}

.searchDiv {
    margin-bottom: 7%;
}

.input-text {
    height: 4vh;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-bottom: 4%;
}

.input-button {
    height: 4vh;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #00345A;
    color: #fff;
    font-weight: bold;
    transition: all ease 0.3s;
    cursor: pointer;
}
.input-button:hover {
    background-color: #0496FF;
    color: #fff;
}

.placesDiv {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.placeRow {
    text-align: center;
    background-color: #1e323f;
    margin-bottom: 3%;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.3s;
}
.placeRow:hover {
    background-color: #2f4d61;
}
